<% if post.type == "Question" %>
  <h1> <%= post.title %> </h1>
<% end %>

<p>
  <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
  <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
  <%= post.body %>
</p>

<%= render partial: "tag" %>

  <%= post.body %> <br>
 	<div>
 	<% if post.type == "Question" %>	
		<%= link_to like_question_path, method: :put, class: "btn btn-default btn-sm" do %>
			<span class="glyphicon glyphicon-triangle-top"></span>
				Upvote
				<%= @question.get_upvotes.size %>
		<% end %>		
		
		<%= link_to dislike_question_path, method: :put, class: "btn btn-default btn-sm" do %>
			<span class="glyphicon glyphicon-triangle-bottom"></span>
				Downvote
				<%= @question.get_downvotes.size %>	
		<% end %>	<br> 			
	<% end %>
	</div> 
</p> 

<%= render partial: "comment", collection: post.comments %>

<h4>Add A Comment</h4>
	<form>
  	<textarea> </textarea>
  	<input type="submit"></input>
	</form><br>
