<tr>
  <td class='up-votes' style='text-align: center'><%= "#{question.get_upvotes.size}" %></td>
   <td class='down-votes' style='text-align: center'><%= "#{question.get_downvotes.size}" %></td>
  <td class='answers'style='text-align: center'><%= "#{question.num_answers}" %></td>
  <td class='views'style='text-align: center'><%= "#{question.num_views}" %></td>
  <td>
    <table>
      <tr>
        <td colspan="3"><%= link_to question.title, question_path(question) %></td>
      </tr>
      <tr>
        <td style='text-align: right'><medium><%= question.tag_list %><medium></td>
        <td style='text-align: left'><small><%= "#{question.user.username} at #{question.updated_at}"%></small></td>
      </tr>
    </table>
  </td>
</tr>
