<h1>Ask a Question</h1>

<div class="form-horizontal">
  <%= form_for @question do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class:'form-control' %>
  </div>
  <br>
  <div class='form-group'>
    <%= f.label :body %>
    <%= f.text_area :body, class:'form-control' %>
  </div>
  <br>
  <div class='form-group'>
    <%= f.label :tags %>
    <%= f.text_field :tags, class:'form-control' %>
  </div>  
  <br>
    <%= f.submit "Submit Question" %>
  <% end %>
  </div>
</div>
