<%= image_tag "overclone_use_this_one.png", size: "175x50", alt: "Stack Overclone" %>

<div align="right">
  <div class="btn-group" role="group" aria-label="...">
    <a href="<%= questions_path %>" class="btn btn-default" role="button">Questions</a>
    <a href="<%= users_path %>" class="btn btn-default" role="button">Users</a>
    <a href="<%= questions_unanswered_path %>" class="btn btn-default" role="button">Unanswered</a>
    <a href="<%= new_question_path %>" class="btn btn-default" role="button">Ask Question</a>
  </div>
</div>