<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'favicon.ico' %>
  <title>StackOverclone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/nav' %>
<div class = "notBootstrap" >
  <%= render 'layouts/header' %>
</div> 

<% flash.each do |key, value| %>
  <div class="alert alert-<%=key%>" role="alert">
    <%= value %>
  </div>
<% end %>

<div class = "yield" >
  <%= yield %>
</div> 

</body>
</html>
